# Baca dataset dengan memanfaatkan library pandas dan numpy sebagai berikut

In [2]:
# libraries
import pandas as pd
import numpy as np

# baca file dataset
df = pd.read_csv("apartemen2.csv")

# melihat semua isi data
print(df)

   KodeApt   Wilayah St_Milik Jum_kamar
0    104.0    Bantul        Y         3
1    197.0    Sleman        N         3
2      NaN    Sleman        N       NaN
3    201.0     Yogya       12         1
4    203.0     Yogya        Y         3
5    207.0     Yogya        Y       NaN
6      NaN  KL-Progo      NaN         2
7    213.0    Bantul        Y        --
8    215.0    Bantul        Y        na

# Cek Apakah data null, jika ada berapa jumlahnya?

In [3]:
df.isnull().values.any()

True

In [4]:
df.isnull().sum().sum()

5

# Melihat data pada kolom KodeApt dan mengecek data null pada kolom tersebut

In [6]:
# melihat kolom KodeApt
df['KodeApt']

0    104.0
1    197.0
2      NaN
3    201.0
4    203.0
5    207.0
6      NaN
7    213.0
8    215.0
Name: KodeApt, dtype: float64

In [7]:
df['KodeApt'].isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
Name: KodeApt, dtype: bool

# Melihat data pada kolom Jum_kamar dan mengecek data null pada kolom tersebut

In [8]:
# Melihat kolom Jum_kamar
df['Jum_kamar']

0      3
1      3
2    NaN
3      1
4      3
5    NaN
6      2
7     --
8     na
Name: Jum_kamar, dtype: object

In [9]:
df['Jum_kamar'].isnull()

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8    False
Name: Jum_kamar, dtype: bool

# Membuat daftar missing value dan cek kembali data pada kolom Jum_kamar (no 7 dan no 8). Apa artinya?

In [10]:
# membuat daftar missing value
missing_values = ["n/a", "na", "--"]
df = pd.read_csv("apartemen2.csv", na_values=missing_values)

In [11]:
df['Jum_kamar']

0    3.0
1    3.0
2    NaN
3    1.0
4    3.0
5    NaN
6    2.0
7    NaN
8    NaN
Name: Jum_kamar, dtype: float64

In [12]:
df['Jum_kamar'].isnull()

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7     True
8     True
Name: Jum_kamar, dtype: bool

# Membuat daftar missing value dan cek data pada kolom St_Milik (no 3). Apa artinya?

In [13]:
df['St_Milik']

0      Y
1      N
2      N
3     12
4      Y
5      Y
6    NaN
7      Y
8      Y
Name: St_Milik, dtype: object

In [14]:
df['St_Milik'].isnull()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8    False
Name: St_Milik, dtype: bool

# Mendeteksi angka (sebagai missing value) pada kolom yang bertipe non numerik dan cek data pada kolom St_Milik (no 3). Apa artinya?

In [15]:
# deteksi angka
cnt = 0
for row in df['St_Milik']:
    try:
        df['St_Milik'].isnull()
        int(row)
        df.loc[cnt, 'St_Milik'] = np.nan
    except ValueError:
        pass
    cnt+=1

In [16]:
df['St_Milik'].isnull()

0    False
1    False
2    False
3     True
4    False
5    False
6     True
7    False
8    False
Name: St_Milik, dtype: bool

# Hitung kembali total missing value pada setiap kolom

In [17]:
# total missing values setiap kolom
df.isnull().sum()

KodeApt      2
Wilayah      0
St_Milik     2
Jum_kamar    4
dtype: int64

In [18]:
# banyaknya missing value
df.isnull().sum().sum()

8

# Mengisi missing value dengan angka pada lokasi yang spesifik

In [20]:
# mengganti missing values dengan sebuah angka
df['KodeApt'].fillna(837, inplace=True)
print(df['KodeApt'])

0    104.0
1    197.0
2    837.0
3    201.0
4    203.0
5    207.0
6    837.0
7    213.0
8    215.0
Name: KodeApt, dtype: float64

In [21]:
# mengganti pada lokasi spesifik
df.loc[2, 'KodeApt'] = 8837
print(df['KodeApt'])

0     104.0
1     197.0
2    8837.0
3     201.0
4     203.0
5     207.0
6     837.0
7     213.0
8     215.0
Name: KodeApt, dtype: float64

# Mengisi missing value dengan nilai median

In [22]:
# mengganti missing value dengan median
median = df['Jum_kamar'].median()
df['Jum_kamar'].fillna(median, inplace=True)

In [24]:
print(df['Jum_kamar'])

0    3.0
1    3.0
2    3.0
3    1.0
4    3.0
5    3.0
6    2.0
7    3.0
8    3.0
Name: Jum_kamar, dtype: float64

# Melihat keseluruhan data

In [25]:
print(df)

   KodeApt   Wilayah St_Milik  Jum_kamar
0    104.0    Bantul        Y        3.0
1    197.0    Sleman        N        3.0
2   8837.0    Sleman        N        3.0
3    201.0     Yogya      NaN        1.0
4    203.0     Yogya        Y        3.0
5    207.0     Yogya        Y        3.0
6    837.0  KL-Progo      NaN        2.0
7    213.0    Bantul        Y        3.0
8    215.0    Bantul        Y        3.0

# Mengganti data non numerik pada lokasi yang spesifik

In [26]:
# mengganti pada lokasi spesifik pada kolom St_Milik
df.loc[3, 'St_Milik'] = 'N'
df.loc[6, 'St_Milik'] = 'Y'
print(df['St_Milik'])

0    Y
1    N
2    N
3    N
4    Y
5    Y
6    Y
7    Y
8    Y
Name: St_Milik, dtype: object

In [27]:
print(df)

   KodeApt   Wilayah St_Milik  Jum_kamar
0    104.0    Bantul        Y        3.0
1    197.0    Sleman        N        3.0
2   8837.0    Sleman        N        3.0
3    201.0     Yogya        N        1.0
4    203.0     Yogya        Y        3.0
5    207.0     Yogya        Y        3.0
6    837.0  KL-Progo        Y        2.0
7    213.0    Bantul        Y        3.0
8    215.0    Bantul        Y        3.0

# Simpan model

In [28]:
# simpan data
df.to_csv("Apartemen_ok.csv", header=False, index=False)

# Mengubah data non numerik menjadi numerik

In [30]:
# libraries
from sklearn.preprocessing import LabelEncoder
from pandas import DataFrame
import pandas as pd
import numpy as np

# baca file dataset
df = pd.read_csv("Apartemen_ok.csv")

# melihat semua isi data
print(df)
le = LabelEncoder()

for col in df.columns.values:
    # encoding pada variabel kategorial
    if df[col].dtypes=='object':
        data = df[col].append(df[col])
        le.fit(data.values)
        df[col] = le.transform(df[col])

df.head(10)

    104.0    Bantul  Y  3.0
0   197.0    Sleman  N  3.0
1  8837.0    Sleman  N  3.0
2   201.0     Yogya  N  1.0
3   203.0     Yogya  Y  3.0
4   207.0     Yogya  Y  3.0
5   837.0  KL-Progo  Y  2.0
6   213.0    Bantul  Y  3.0
7   215.0    Bantul  Y  3.0

C:\Users\ACER\AppData\Local\Temp\ipykernel_9096\2231293616.py:17: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = df[col].append(df[col])
C:\Users\ACER\AppData\Local\Temp\ipykernel_9096\2231293616.py:17: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = df[col].append(df[col])

    104.0  Bantul  Y  3.0
0   197.0       2  0  3.0
1  8837.0       2  0  3.0
2   201.0       3  0  1.0
3   203.0       3  1  3.0
4   207.0       3  1  3.0
5   837.0       1  1  2.0
6   213.0       0  1  3.0
7   215.0       0  1  3.0

# Simpan data

In [ ]:
df.to_csv("Apartemen_numerik.csv", header=True, index=False)